<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

		<title>Iglesia Cristiana de la Communidad, Santo Domingo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  </head>
  <body>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=616786222116040&autoLogAppEvents=1"></script>

    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
			<img src="{{ '/assets/logo.png' | relative_url }}">
    </header>

    <main id="content" class="main-content" role="main">

		<div class=invite>Acompáñanos este domingo en nuestro servicio de adoración a Dios!</div>

		<img src="{{ 'assets/IMG_20190407_113320653.jpg' }}" class='right-50'>

		<p class=times> <b>Servicio Dominical</b> — Domingos&nbsp;9:30&nbsp;AM</p>
		<p class=times> <b>Estudio Bíblico</b> — Miércoles&nbsp;7:30&nbsp;PM</p>


		<div id='contact'>

			<p><a href='mailto:info@igleccom.org'>
				<img src='assets/Mail-Icon.svg' class=icon>

				oficinaigleccom@gmail.com
			</a></p>

			<p><a href='tel:+1809-379-1785'>
				<img src='assets/Phone-Icon.svg' class=icon>
				809-379-1785
			</a></p>

			<p><a href='https://www.facebook.com/igleccom/'>
				<img src='assets/Facebook-Icon.svg' class=icon>
				igleccom
			</a></p>

			<p><a href='https://www.instagram.com/la_icc/'>
				<img src='assets/IG-icon.svg' class=icon>
				la_icc
			</a></p>

			<a href='https://goo.gl/maps/yxni6ap7xBo' class=map><p class=map>
				<img src='assets/map-t-square.png' class=mapmap>
				<img src='assets/Address-Icon.svg' class=icon>
				Avenida Los Beisbolistas #121<br>
				Sector La Venta<br>
				Santo Domingo Oeste <br>
			</p></a>
		</div>


			<h1 class=events>Eventos</h1>
<div class="fb-page" data-width="500" data-href="https://www.facebook.com/igleccom" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" >
	<blockquote cite="https://www.facebook.com/igleccom" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/igleccom">Iglesia Cristiana de la Comunidad</a></blockquote></div>

    </main>

		<div class='inverse'><main id="content" class="main-content" role="main">
	<article>			{{ content }}</article>
			</main></div>

		<main id="content" class="main-content" role="main">
	<article>		
	

		<h1> Que Creemos</h1>

		<p>
Creemos que Dios creó todas las cosas, pero el hombre se ha rebelado contra Dios. Dios nos ama y envía a su hijo, Jesucristo, a vivir una vida perfecta en nuestro lugar, murió por nuestros pecados y resucitó de entre los muertos tres días después.
		</p>

		<p>
Todos los que se arrepientan y creen en Jesús recibirán la vida eterna. La iglesia de Dios existe para hacer discípulos de Cristo, predicando su evangelio hasta que Jesús regrese para juzgar al mundo.
		</p>

		<p>
		Todas estas cosas están escritas en las escrituras perfectas de Dios, la Biblia. Para obtener más detalles sobre lo que creemos, <a href='assets/Documento Doctrinal ICC membresia.pdf'>lea nuestra declaración de fe</a>.
		</p>
	</article>
			</main>

		<footer>
		<a href="{{ 'assets/hermanos.jpg' | relative_url }}"><img src="{{ 'assets/hermanos.jpg' | relative_url }}"></a>
		</footer>
  </body>
</html>
